# Binärgewitter 2021

Auch 2021 war ein Jahr mit corona und podcasts.   


Zuerst müssen wir alle librarys importieren und Daten laden.

In [1]:
import pandas as pd

In [2]:
podcasts = pd.read_csv("data/2021.csv", sep=",", index_col=0)

## Übersicht

Diese Jahr habe wir einige Sendungen veröffentlicht:

In [3]:
total_count = len(podcasts.index)
talk_count = len(podcasts[podcasts.Type == "Talk"].index)
westcoast_count = len(podcasts[podcasts.Type == "Westcoast"].index)

print(f"Talk:      {talk_count}")
print(f"Westcoast: {westcoast_count}")
print(f"Total:     {total_count}")

Talk:      20
Westcoast: 0
Total:     20

Wie versprochen anfangs Jahr haben wir diese Jahr mehr Sendungen gemacht als im letzten Jahr.
In Zahlen sind das **-1** Sendungen mehr von **21** im 2020 auf **20**. 
Auch die Westcoast edition hat diese Jahr keine einzige Sendung gemacht.

## Binärgewitter Talk

In [4]:
distance_between_recordings = 52 / talk_count
print(f"Für Binärgewitter Talk sind das alle {distance_between_recordings} Wochen eine Sendung.")

Für Binärgewitter Talk sind das alle 2.6 Wochen eine Sendung.

Wir machen ein Kopie und schauen uns nur die BGT Talk Sendungen genauer an.

In [5]:
talk = podcasts[podcasts.Type == "Talk"]
talk.drop(columns=['pfleidi', 'marc'])
talk['Date'] = pd.to_datetime(talk['Date'])

### Sendungen pro Host:

In [6]:
ingo_count = talk["ingo"].sum()
l33tname_count = talk["l33tname"].sum()
madmas_count = talk["madmas"].sum()
makefu_count = talk["makefu"].sum()


print(f"ingo:      {ingo_count}")
print(f"l33tname:  {l33tname_count}")
print(f"madmas:    {madmas_count}")
print(f"makefu:    {makefu_count}")

ingo:      20
l33tname:  18
madmas:    11
makefu:    19

In Prozen sind das:

In [7]:
print(f"ingo:      {ingo_count/talk_count:.0%}")
print(f"makefu:    {makefu_count/talk_count:.0%}")
print(f"l33tname:  {l33tname_count/talk_count:.0%}")
print(f"madmas:    {madmas_count/talk_count:.0%}")

ingo:      100%
makefu:    95%
l33tname:  90%
madmas:    55%

Diese Jahr war bei jeder Sendung mindestens 3 Personen anwesend!

In [8]:
talk[["ingo", "makefu", "l33tname", "madmas"]].sum(axis=1)

Name
Binärgewitter Talk #288: Binärgewitter Plus                              4
Binärgewitter Talk #286: Jetzt die Zeit von Portugal!                    3
Binärgewitter Talk #285: Unnormalzeit                                    3
Binärgewitter Talk #284: Jahr der Linux Viren auf dem Desktop            3
Binärgewitter Talk #283: das Python des kleinen Mannes                   3
Binärgewitter Talk #282: warten auf IPv8                                 3
Binärgewitter Talk #281: Bio Zombie Würmer                               3
Binärgewitter Talk #280: Reproduzierbare Builds gegen den Klimawandel    3
Binärgewitter Talk #279: Uber55                                          3
Binärgewitter Talk #278: Where in the World is John Mcafee               3
Binärgewitter Talk #277: Coolbernetes                                    3
Binärgewitter Talk #276: We are scared and excited                       4
Binärgewitter Talk #275: Das C von Cobol steht für Cloud                 3
Binärgewitter Talk #274: Fortran, nein Danke!                            4
Binärgewitter Talk #273: Wenn der Schaffner dein Passwort zurücksetzt    4
Binärgewitter Talk #272: Excel ist ein BWL Simulator                     3
Binärgewitter Talk #271: Sichter und Denker                              4
Binärgewitter Talk #270: Bubble find                                     4
Binärgewitter Talk #269: Java Stadt, Land, Fluss                         4
Binärgewitter Talk #268: Marie Kondo für Daten                           4
dtype: int64

### Duration

Da der feed jetzt eine duration pro Sendung angibt kann man jetzt auch interessante Auswertungen machen.

In [9]:
import datetime

convert_duration_to_sec = lambda v: (int(v.split(":")[0]) * 60*60) + (int(v.split(":")[1]) * 60) + int(v.split(":")[2])
talk['Duration_sec'] = talk['Duration'].transform(convert_duration_to_sec)

Unsere totale Sendezeit war diese Jahr:

In [10]:
total_sec = int(talk['Duration_sec'].sum())
str(datetime.timedelta(seconds=total_sec))

'1 day, 23:52:52'

Die kürzeste Sendung die wir diese Jahr gemacht haben:

In [11]:
shortes_episode = talk[talk['Duration_sec'] == talk['Duration_sec'].min()]
shortes_episode

,Date,Type,Duration,ingo,l33tname,madmas,makefu,pfleidi,marc,Duration_sec
Name,,,,,,,,,,
Binärgewitter Talk #282: warten auf IPv8,2021-08-20,Talk,01:29:32,1,1,1,0,0,0,5372

Und nicht zuletzt die längste Sendung:

In [12]:
longest_episode = talk[talk['Duration_sec'] == talk['Duration_sec'].max()]
longest_episode

,Date,Type,Duration,ingo,l33tname,madmas,makefu,pfleidi,marc,Duration_sec
Name,,,,,,,,,,
Binärgewitter Talk #270: Bubble find,2021-01-30,Talk,03:31:54,1,1,1,1,0,0,12714